.no-border {
    border-style: hidden !important; /* or none */
    background-image: url('../../images/background.jpg');
}

.border {
    margin-left: 50px; ! important;
    border-style: solid !important; /* or none */
    background-image: url('../../images/background.jpg');
}

.projectwizardborder {
    height: 300px; ! important;
    margin-left: 50px; ! important;
    border-style: solid !important; /* or none */
    background-image: url('../../images/background.jpg');
}

.tablecolumsmall {
    height: 20px;
}

.ui-panel, div.ui-state-hover {
    margin-top: 10px;
    width: 350px;
}

.ui-dashboard-column {
    width: 380px;
}

.actionboardmessage {
    width: 80%;
    margin-left: 200px;
    baackground-color: #C6D8EC; #
    background-image: url('../../images/yellowback.png');
    margin-bottom: 10px
}

.actionboardarticle {
    width: 80%;
    margin-left: 150px;
    margin-bottom: 10px;
    background-image: url('../../images/yellowback.png');
}

.yellowtouch {
    width: 80%;
    height: 25px;
    margin-left: 150px;
    margin-bottom: 10px;
    background-color: #ffffe3
}

.graytouch {
    width: 80%;
    margin-left: 150px;
    margin-bottom: 10px;
    background-color: #F4F2F2
}

.transparentbutton {
    background: rgba(255, 255, 255, 0.0);
    border: none
}

.hide-column-names table thead tr {
    display: none;
}